node_modules
# someone created on beta
node_modulesb

npm-debug.log
*.sqlite
.nyc_output/
coverage/
apidoc/
.tmp/
reports/
.idea/
scripts/

config/development.json
config/production.json
config/test.json
config/config.js

server/bootstrap/data/hotel/
server/bootstrap/data/tripresso/

launch.json

docker-compose.yaml
Makefile

dist/
.vscode/
